*{
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f8ff;
}
h1{
    margin-top: 15px;
    text-align: center;
}
.container{
    height: 400px;
    margin-top: 25px;
    display: flex;
}
.cuadro{
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: space-evenly;
}
.texto{
    resize: none;
    width: 70%;
    height: 85%;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
}
.botones{
    height: 100px;
    display: flex;
}
.boton{
    width: 125px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    transition: box-shadow .15s,transform .15s;
    border-width: 0.5px;
}

.boton:focus {
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px;
}

.boton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px;
  transform: translateY(-2px);
}

.boton:active {
  transform: translateY(2px);
}
